<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Thank you!</title>
    </head>
    <body>

        <h1>Thank you! You have been signed up to the event!</h1>
        
        <ul>
            <li th:each="participant : ${participants}">
                <span th:text="${participant.name}">name</span> <span th:text="${participant.address}">address</span>
                
            </li>
        </ul>
        
        <a th:href="@{/participant}">Search for participants</a>
        <a th:href="@{/link}">Suggest a link</a>
        


    </body>
</html>
