<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Thank you!</title>
    </head>
    <body>
        <div th:replace="header :: header">...</div>
        <h1>Thank you! You have been selected to the parliament!</h1>
        
        <ul>
            <li th:each="participant : ${participants}">
                <span th:text="${participant.name}">name</span> <span th:text="${participant.address}">address</span><span th:text="${participant.id}">name</span>
                
            </li>
        </ul>
        
    </body>
</html>
